@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
*
{
    margin: 0;
    padding: 0;
}
html,body
{
    height: 100%;
    box-sizing: border-box;
}
body
{
    background-color: silver;
    background-image: url(../image/body-image.jpg);
    background-size: 100%;
    background-attachment: fixed;
}
/*Início de configurações do cabeçalho*/
header
{
    background-image: url(../image/header-image.jpg);
    background-size: 100%;
    position: fixed;
    color: white;
    width: 100%;
    height: 80px;
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0 5px 15px black;
    z-index: 9; /*A propriedade z-index determina o "nível de empilhamento" de um elemento HTML. */

}
.logo
{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}
h1
{
    font-family: 'Bruno Ace SC', cursive;
    cursor: pointer;
    user-select: none;
}
nav
{
    font-weight: bold;
    display: flex;
    margin-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a
{
    text-decoration: none;
    color: white;
}
header nav ul
{
    display: flex;
    list-style: none;
    gap: 150px;
    align-items: center;
}

header nav ul li:hover /*Esse seletor aplica estilo apenas quando o cursor está em cima do elemento*/
{
    color: rgb(219, 6, 6);
    cursor: pointer;
}
.login
{
    margin-left: 150px;
    font-weight: bold;
    align-items: center;
    display: flex;
    cursor: pointer;
    gap: 15%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Fim de configurações do cabeçalho*/
main
{
    align-items: center;
    height: 100%;
}
/*Configurações rodapé*/
footer
{
    background-color: #252525;
    margin-top: 15%;
    width: 100%;
    border-top: 1px solid black;
    color: #ffffff;
    font-family: "Roboto Condensed", Sans-serif;
}

.section-footer
{
    display: flex;
    margin-bottom: 5%;
    padding-top: 1%;
}
.section-footer p
{
    font-weight: bold;
}
.section-footer ul
{
    list-style: none;
}
.region-footer
{
    background-color: black;
    text-align: center;
    color: #adadad;
    font-family: "Roboto Condensed", Sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
}
.contato 
{
    margin-left: 25%;
}
.suporte
{
    margin-left: 10%;
}